@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tetromino-I {
  background-color: #00f0f0;
}
.tetromino-O {
  background-color: #f0f000;
}
.tetromino-T {
  background-color: #a000f0;
}
.tetromino-L {
  background-color: #f0a000;
}
.tetromino-J {
  background-color: #0000f0;
}
.tetromino-S {
  background-color: #00f000;
}
.tetromino-Z {
  background-color: #f00000;
}

/* bordo interno per definire le celle */
.grid > div {
  border-radius: 2px;
}

.flash-cell {
  background-color: white !important; /* forza il colore sopra i tetramini */
  transition: background-color 0.2s ease-in-out;
}

.glow-cell {
  box-shadow: 0 0 10px white, 0 0 20px white;
  transition: box-shadow 0.3s ease-in-out;
}
